@model  IEnumerable<HTTT_QLyBanDongHo.Models.Product>
@using HTTT_QLyBanDongHo.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared_Client/_Layout.cshtml";
    int i = 0;
}


    <div class="body-content outer-top-vs" id="top-banner-and-menu">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div id="hero">
                        <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
                            <div class="item" style="background-image: url('../ClientTemplate/assets/images/sliders/02.jpg');">
                                <div class="container-fluid">
                                    <div class="caption bg-color vertical-center text-left">
                                        <div class="slider-header fadeInDown-1">Top Brands 2018</div>
                                        <div class="big-text fadeInDown-1">Digital <span class="highlight">Watch</span></div>
                                        <div class="excerpt fadeInDown-2 hidden-xs"> <span>Get 50% off on selected items</span> </div>
                                        <div class="button-holder fadeInDown-3"> <a href="index6c11.html?page=single-product" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>
                                    </div>
                                    <!-- /.caption -->
                                </div>
                                <!-- /.container-fluid -->
                            </div>
                            <!-- /.item -->

                            <div class="item" style="background-image: url('../ClientTemplate/assets/images/sliders/01.jpg');">
                                <div class="container-fluid">
                                    <div class="caption bg-color vertical-center text-left">
                                        <div class="slider-header fadeInDown-1">Spring 2018</div>
                                        <div class="big-text fadeInDown-1"> Modern <span class="highlight">Chair</span> </div>
                                        <div class="excerpt fadeInDown-2 hidden-xs"> <span>Nemo enim ipsam voluptatem quia <br> voluptas sit aspernatur.</span> </div>
                                        <div class="button-holder fadeInDown-3"> <a href="index6c11.html?page=single-product" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>
                                    </div>
                                    <!-- /.caption -->
                                </div>
                                <!-- /.container-fluid -->
                            </div>
                            <!-- /.item -->

                        </div>
                        <!-- /.owl-carousel -->
                    </div>
                </div>
            </div>


            <!-- ============================================== banners ============================================== -->
            <div class="wide-banners wow fadeInUp outer-bottom-xs ">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="wide-banner cnt-strip">
                            <div class="image"> <img class="img-responsive" src="~/ClientTemplate/assets/images/banners/home-banner1.jpg" alt=""> </div>
                        </div>
                        <!-- /.wide-banner -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6 col-sm-6">
                        <div class="wide-banner cnt-strip">
                            <div class="image"> <img class="img-responsive" src="~/ClientTemplate/assets/images/banners/home-banner2.jpg" alt=""> </div>
                        </div>
                        <!-- /.wide-banner -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.wide-banners -->
            <!-- ============================================== banners : END ============================================== -->
            <!-- ============================================== SCROLL TABS ============================================== -->


            <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp mt-5">
                <div class="more-info-tab clearfix ">
                    <h3 class="new-product-title pull-left">Sản phẩm mới nhất</h3>

                    <!-- /.nav-tabs -->
                </div>
                <div class="tab-content">
                    <div class="tab-pane in active" id="all">
                        <div class="product-slider">
                            <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="4">
                                @foreach (var item in Model)
                                {

                                    if (item.CreateAt >= DateTime.Now.AddDays(-14) && item.Discount >= 10 && item.Status == "Kích hoạt")
                                    {
                                        <div class="item item-carousel">
                                            <div class="products">
                                                <div class="product">
                                                    <div class="product-image">
                                                        <div class="image"> <a href="@Url.Action("Details","Client",new { id = item.ID})"><img src="@item.GetDefaultThumbnails()" style="width:100%;" alt=""></a> </div>
                                                        <!-- /.image -->

                                                        <div class="tag new"><span>new</span></div>
                                                    </div>
                                                    <!-- /.product-image -->

                                                    <div class="product-info text-left">
                                                        <h3 class="name"><a href="detail.html">@item.Name</a></h3>
                                                        <div class="rating rateit-small"></div>
                                                        <div class="description"></div>
                                                        <div class="product-price">
                                                            <span class="price">

                                                                @{
                                                                    var pd = (double)item.AfterPrice;
                                                                }
                                                                @pd.ToString("#,##0").Replace(',', '.') VNĐ
                                                            </span> <span class="price-before-discount">
                                                                @{
                                                                    var p = (double)item.Price;
                                                                }
                                                                @p.ToString("#,##0").Replace(',', '.') VNĐ

                                                            </span>
                                                        </div>
                                                        <!-- /.product-price -->

                                                    </div>
                                                    <!-- /.product-info -->
                                                    <div class="cart clearfix animate-effect">
                                                        <div class="action">
                                                            <ul class="list-unstyled">
                                                                <li class="add-cart-button btn-group" title="@item.ID">
                                                                    <button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Add Cart"> <i class="fa fa-shopping-cart"></i> </button>
                                                                    <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                                                                </li>
                                                                <li class="lnk wishlist"> <a data-toggle="tooltip" class="add-to-cart" href="@Url.Action("Details","Client",new { id = item.ID})" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>

                                                            </ul>
                                                        </div>
                                                        <!-- /.action -->
                                                    </div>
                                                    <!-- /.cart -->
                                                </div>
                                                <!-- /.product -->

                                            </div>
                                            <!-- /.products -->
                                        </div>
                                    }


                                    <!-- /.item -->
                                }



                            </div>
                            <!-- /.home-owl-carousel -->
                        </div>
                        <!-- /.product-slider -->
                    </div>
                    <!-- /.tab-pane -->


                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.scroll-tabs -->
            <!-- ============================================== SCROLL TABS : END ============================================== -->
            <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp mt-5">
                <div class="more-info-tab clearfix ">
                    <h3 class="new-product-title pull-left">Sản phẩm bán chạy nhất</h3>

                    <!-- /.nav-tabs -->
                </div>
                <div class="tab-content">
                    <div class="tab-pane in active" id="all">
                        <div class="product-slider">
                            <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="4">
                                @foreach (var item in Model)
                                {

                                    if (item.isBestSeller == 1 && item.Discount >= 10 && item.Status == "Kích hoạt" && item.Remain < 10)
                                    {
                                        <div class="item item-carousel">
                                            <div class="products">
                                                <div class="product">
                                                    <div class="product-image">
                                                        <div class="image"> <a href="@Url.Action("Details","Client",new { id = item.ID})"><img src="@item.GetDefaultThumbnails()" style="width:100%;" alt=""></a> </div>
                                                        <!-- /.image -->

                                                        <div class="tag hot"><span>Hot</span></div>
                                                    </div>
                                                    <!-- /.product-image -->

                                                    <div class="product-info text-left">
                                                        <h3 class="name"><a href="detail.html">@item.Name</a></h3>
                                                        <div class="rating rateit-small"></div>
                                                        <div class="description"></div>
                                                        <div class="product-price">
                                                            <span class="price">

                                                                @{
                                                                    var pd = (double)item.AfterPrice;
                                                                }
                                                                @pd.ToString("#,##0").Replace(',', '.') VNĐ
                                                            </span> <span class="price-before-discount">
                                                                @{
                                                                    var p = (double)item.Price;
                                                                }
                                                                @p.ToString("#,##0").Replace(',', '.') VNĐ

                                                            </span>
                                                        </div>
                                                        <!-- /.product-price -->

                                                    </div>
                                                    <!-- /.product-info -->
                                                    <div class="cart clearfix animate-effect">
                                                        <div class="action">
                                                            <ul class="list-unstyled">
                                                                <li class="add-cart-button btn-group" title="@item.ID">
                                                                    <button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Add Cart"> <i class="fa fa-shopping-cart"></i> </button>
                                                                    <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                                                                </li>
                                                                <li class="lnk wishlist"> <a data-toggle="tooltip" class="add-to-cart" href="@Url.Action("Details","Client",new { id = item.ID})" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>

                                                            </ul>
                                                        </div>
                                                        <!-- /.action -->
                                                    </div>
                                                    <!-- /.cart -->
                                                </div>
                                                <!-- /.product -->

                                            </div>
                                            <!-- /.products -->
                                        </div>
                                    }


                                    <!-- /.item -->
                                }



                            </div>
                            <!-- /.home-owl-carousel -->
                        </div>
                        <!-- /.product-slider -->
                    </div>
                    <!-- /.tab-pane -->


                </div>
                <!-- /.tab-content -->
            </div>
            <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp mt-5">
                <div class="more-info-tab clearfix ">
                    <h3 class="new-product-title pull-left">Sản phẩm dành cho Nam</h3>

                    <!-- /.nav-tabs -->
                </div>
                <div class="tab-content">
                    <div class="tab-pane in active" id="all">
                        <div class="product-slider">
                            <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="4">
                                @foreach (var item in Model)
                                {

                                    if (item.isBestSeller == 1 && item.Discount >= 20 && item.Status == "Kích hoạt" && item.CategoryID == 1)
                                    {
                                        <div class="item item-carousel">
                                            <div class="products">
                                                <div class="product">
                                                    <div class="product-image">
                                                        <div class="image"> <a href="@Url.Action("Details","Client",new { id = item.ID})"><img src="@item.GetDefaultThumbnails()" style="width:100%;" alt=""></a> </div>
                                                        <!-- /.image -->

                                                        <div class="tag hot"><span>hot</span></div>
                                                    </div>
                                                    <!-- /.product-image -->

                                                    <div class="product-info text-left">
                                                        <h3 class="name"><a href="detail.html">@item.Name</a></h3>
                                                        <div class="rating rateit-small"></div>
                                                        <div class="description"></div>
                                                        <div class="product-price">
                                                            <span class="price">

                                                                @{
                                                                    var pd = (double)item.Price;
                                                                }
                                                                @pd.ToString("#,##0").Replace(',', '.') VNĐ
                                                            </span> <span class="price-before-discount">
                                                                @{
                                                                    var p = (double)item.AfterPrice;
                                                                }
                                                                @p.ToString("#,##0").Replace(',', '.') VNĐ

                                                            </span>
                                                        </div>
                                                        <!-- /.product-price -->

                                                    </div>
                                                    <!-- /.product-info -->
                                                    <div class="cart clearfix animate-effect">
                                                        <div class="action">
                                                            <ul class="list-unstyled">
                                                                <li class="add-cart-button btn-group" title="@item.ID">
                                                                    <button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Add Cart"> <i class="fa fa-shopping-cart"></i> </button>
                                                                    <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                                                                </li>
                                                                <li class="lnk wishlist"> <a data-toggle="tooltip" class="add-to-cart" href="@Url.Action("Details","Client",new { id = item.ID})" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>

                                                            </ul>
                                                        </div>
                                                        <!-- /.action -->
                                                    </div>
                                                    <!-- /.cart -->
                                                </div>
                                                <!-- /.product -->

                                            </div>
                                            <!-- /.products -->
                                        </div>
                                    }


                                    <!-- /.item -->
                                }



                            </div>
                            <!-- /.home-owl-carousel -->
                        </div>
                        <!-- /.product-slider -->
                    </div>
                    <!-- /.tab-pane -->


                </div>
                <!-- /.tab-content -->
            </div>
            <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp mt-5">
                <div class="more-info-tab clearfix ">
                    <h3 class="new-product-title pull-left">Sản phẩm dành cho Nữ</h3>

                    <!-- /.nav-tabs -->
                </div>
                <div class="tab-content">
                    <div class="tab-pane in active" id="all">
                        <div class="product-slider">
                            <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="4">
                                @foreach (var item in Model)
                                {

                                    if (item.isBestSeller == 1 && item.Discount >= 20 && item.Status == "Kích hoạt" && item.CategoryID == 2)
                                    {
                                        <div class="item item-carousel">
                                            <div class="products">
                                                <div class="product">
                                                    <div class="product-image">
                                                        <div class="image"> <a href="@Url.Action("Details","Client",new { id = item.ID})"><img src="@item.GetDefaultThumbnails()" style="width:100%;" alt=""></a> </div>
                                                        <!-- /.image -->

                                                        <div class="tag hot"><span>hot</span></div>
                                                    </div>
                                                    <!-- /.product-image -->

                                                    <div class="product-info text-left">
                                                        <h3 class="name"><a href="detail.html">@item.Name</a></h3>
                                                        <div class="rating rateit-small"></div>
                                                        <div class="description"></div>
                                                        <div class="product-price">
                                                            <span class="price">

                                                                @{
                                                                    var pd = (double)item.Price;
                                                                }
                                                                @pd.ToString("#,##0").Replace(',', '.') VNĐ
                                                            </span> <span class="price-before-discount">
                                                                @{
                                                                    var p = (double)item.AfterPrice;
                                                                }
                                                                @p.ToString("#,##0").Replace(',', '.') VNĐ

                                                            </span>
                                                        </div>
                                                        <!-- /.product-price -->

                                                    </div>
                                                    <!-- /.product-info -->
                                                    <div class="cart clearfix animate-effect">
                                                        <div class="action">
                                                            <ul class="list-unstyled">
                                                                <li class="add-cart-button btn-group" title="@item.ID">
                                                                    <button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Add Cart"> <i class="fa fa-shopping-cart"></i> </button>
                                                                    <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                                                                </li>
                                                                <li class="lnk wishlist"> <a data-toggle="tooltip" class="add-to-cart" href="@Url.Action("Details","Client",new { id = item.ID})" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>

                                                            </ul>
                                                        </div>
                                                        <!-- /.action -->
                                                    </div>
                                                    <!-- /.cart -->
                                                </div>
                                                <!-- /.product -->

                                            </div>
                                            <!-- /.products -->
                                        </div>
                                    }


                                    <!-- /.item -->
                                }



                            </div>
                            <!-- /.home-owl-carousel -->
                        </div>
                        <!-- /.product-slider -->
                    </div>
                    <!-- /.tab-pane -->


                </div>
                <!-- /.tab-content -->
            </div>
        </div>

        


        <!-- ============================================== INFO BOXES ============================================== -->
        <div class="container">

            <div class="info-boxes wow fadeInUp">
                <div class="info-boxes-inner">
                    <div class="row">
                        <div class="col-md-6 col-sm-4 col-lg-4">
                            <div class="info-box">
                                <div class="icon-img"><i class="fa fa-credit-card"></i></div>
                                <div class="icon-text">
                                    <h4 class="info-box-heading green">Chế độ hoàn trả</h4>
                                    <h6 class="text">30 ngày sau khi mua sản phẩm</h6>
                                </div>
                            </div>
                        </div>
                        <!-- .col -->

                        <div class="hidden-md col-sm-4 col-lg-4">
                            <div class="info-box">

                                <div class="icon-img"> <i class="fa fa-truck"></i></div>
                                <div class="icon-text">

                                    <h4 class="info-box-heading green">Miễn phí giao hàng và đổi trả</h4>

                                    <h6 class="text">Miễn phí giao đơn hàng trên 1.000.000 VNĐ</h6>
                                </div>
                            </div>
                        </div>
                        <!-- .col -->

                        <div class="col-md-6 col-sm-4 col-lg-4">
                            <div class="info-box last">
                                <div class="icon-img"><i class="fa fa-life-ring"></i></div>
                                <div class="icon-text">
                                    <h4 class="info-box-heading green">Chăm sóc khách hàng</h4>

                                    <h6 class="text">Liên hệ 0968 866 866 </h6>
                                </div>
                            </div>
                        </div>
                        <!-- .col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.info-boxes-inner -->

            </div>
            <!-- /.info-boxes -->
        </div>
        <!-- ============================================== INFO BOXES : END ============================================== -->
      


        <!-- /.container -->
    </div>
<!-- /#top-banner-and-menu -->
<!-- /#top-banner-and-menu -->

@{ if ((string)TempData["message"] == "success")
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'success',
                title: 'Đặt hàng thành công ! Vui lòng kiểm tra email !',
                text: 'Chúng tôi sẽ liên hệ với bạn sớm nhất'
            })
        </script>
    }
}
@section scripts{
    <script type="text/javascript">

        $('.add-cart-button').click(function () {
            var id = $(this).attr('title');
            $.ajax({
                type: "POST",
                url: '/ShoppingCart/AddItem/' + id,
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Thêm vào giỏ hàng thành công!',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    setInterval('location.reload()', 2000);
                },
                error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                        footer: '<a href>Why do I have this issue?</a>'
                    })
                }
            });
        });



    </script>
}
