@model  IEnumerable<HTTT_QLyBanDongHo.Models.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared_Admin/_Layout.cshtml";

}

<div class="content">

    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <i class="pe-7s-cash"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text">@String.Format("{0:N0}", ViewBag.TotalRevenuDay)</div>
                                    <div class="stat-heading">Doanh thu trong ngày</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-2">
                                <i class="pe-7s-cart"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">@ViewBag.TotalOrderDay</span></div>
                                    <div class="stat-heading">Đơn hàng trong ngày</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-3">
                                <i class="pe-7s-browser"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">@ViewBag.TotalProduct</span></div>
                                    <div class="stat-heading">Sản phẩm trong ngày</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <i class="pe-7s-users"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">@ViewBag.TotalClient</span></div>
                                    <div class="stat-heading">Khách hàng</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Widgets -->
        <!--  Traffic  -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Đơn hàng trong ngày </h4>

                    </div>
                    <div class="card-body--">
                        @if (!Model.Any())
                        {
                            <span class="text-warning text-uppercase text-center"> ( Chưa có đơn hàng trong ngày !) </span>
                        }
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>

                                        <th>Mã đơn hàng</th>
                                        <th>Tên</th>
                                        <th>Địa chỉ</th>
                                        <th>Số lượng</th>
                                        <th>Tổng tiền</th>
                                        <th>Phương thức thanh toán</th>
                                        <th>Trạng thái</th>
                                        <th>Chi tiết</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var i in Model)
                                    {
                                        <tr>
                                            <td class="serial">@i.ID</td>


                                            <td> <span class="name">@i.Customer.Name</span> </td>
                                            <td> @i.Customer.Address</td>
                                            <td> @i.Total_Quantity</td>

                                            <td>
                                                <span class="product">
                                                    @{
                                                        var p = (double)i.Total_Price;
                                                    }
                                                    @p.ToString("#,##0").Replace(',', '.') VNĐ
                                                </span>
                                            </td>

                                            <td>@i.PaymentType.Type</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => i.OrderStatus.Status, new { @class = "text-warning" })
                                            </td>
                                            <td><a href="@Url.Action("Details", "Orders", new {id = i.ID})" class="btn btn-sm btn-success"><i class="fa fa-eye"></i></a> </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div> <!-- /.col-lg-8 --><!-- /# column -->
        </div>
        <!--  /Traffic -->
       
    </div>
    <!-- .animated -->
</div>


