@model HTTT_QLyBanDongHo.ChartModel.MultipleModelData
@{
    ViewBag.Title = "Index";
    var k = 0;
    var h = 0;
    Layout = "~/Views/Shared_Admin/_Layout.cshtml";
}



<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="background-color:white">
                        <div class="row">
                            <div class="card-body row ">
                                <div class="col-2">
                                    Chart Type:
                                    <select id="chartType" class="form-control" name="Chart Type">
                                        <option value="line">Line</option>
                                        <option value="column">Column</option>
                                        <option value="bar">Bar</option>
                                        <option value="pie">Pie</option>
                                        <option value="doughnut">Doughnut</option>
                                    </select>
                                </div>
                                <div id="chartContainer" class="col-lg-6" style="height: 370px; width: 100%;"></div>
                                <div class="col-lg-4">
                                    <h4>Bảng dữ liệu thống kê giá giảm phẩm </h4>
                                    <table class="table table-bordered mt-5">
                                        <thead>
                                            <tr>
                                                <th>Thống kê</th>
                                                <th>Số lượng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var i in Model.ModelData)
                                            {
                                                <tr>
                                                    <td>@i.label</td>
                                                    <td>@i.y</td>
                                                </tr>
                                                k = (int)(k + i.y);

                                            }

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Tổng số lượng </th>
                                                <th>@k </th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <br />

                                 <div class="col-lg-4 mt-5"> 
                                     <h4 class="mt-5">Bảng dữ liệu thống kê giới tính khách hàng</h4> 
                                     <table class="table table-bordered mt-5"> 
                                         <thead> 
                                             <tr> 
                                                 <th>Thống kế</th> 
                                                 <th>Số lượng</th> 
                                             </tr> 
                                         </thead> 
                                         <tbody> 
                                             @foreach (var i in Model.ModelData1) 
                                             { 
                                                 <tr> 
                                                     <td>@i.label</td> 
                                                     <td>@i.y</td> 
                                                 </tr> 
                                                 h = (int)(h + i.y); 
                                             } 
 
                                         </tbody> 
                                         <tfoot> 
                                             <tr> 
                                                 <th>Tổng số lượng </th> 
                                                 <th>@h </th> 
                                             </tr> 
                                         </tfoot> 
                                     </table> 
                                 </div> 
                                 <div id="chartContainer1" class="col-lg-6 mt-5" style="height: 370px; width: 50%;"></div> 
                                 <div class="col-2"> 
                                     Chart Type: 
                                     <select id="chartType1" class="form-control" name="Chart Type"> 
                                         <option value="line">Line</option> 
                                         <option value="column">Column</option> 
                                         <option value="bar">Bar</option> 
                                         <option value="pie">Pie</option> 
                                         <option value="doughnut">Doughnut</option> 
                                     </select> 
                                 </div> 
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "light2",
            animationEnabled: true,
            exportEnabled: true,
            title: {
                text: "Thống kê giá  sản phẩm "
            },

            axisY: {
                title: "Số lượng",
                gridThickness: 0
            },

            axisX: {
                title: "Number of Nobel Prizes",
                gridThickness: "{label}"
            },
            data: [{
                type: "pie",
                toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                indexLabel: "{y}",
                showInLegend: true,
                legendText: "{label}",
                dataPoints: @Html.Raw(ViewBag.DataPoints)
            }]
        });
        chart.render();

        var chart1 = new CanvasJS.Chart("chartContainer1", {
            theme: "light2",
            animationEnabled: true,
            exportEnabled: true,
            title: {
                text: "Thống kê số lượng sản phẩm giảm giá ",
                margin: 10,

            },

            axisY: {
                title: "Số lượng",
                gridThickness: 0,

            },

            data: [{
                type: "pie",
                toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                indexLabel: "{y}",
                showInLegend: true,
                legendText: "{label}",
                dataPoints: @Html.Raw(ViewBag.DataPoints1)
            }]
        });
        chart1.render();
        var chartType = document.getElementById('chartType');
        chartType.addEventListener( "change",  function(){
            chart.options.data[0].type = chartType.options[chartType.selectedIndex].value;
            chart.render();
        });
        var chartType2 = document.getElementById('chartType1');
        chartType2.addEventListener( "change",  function(){
            chart1.options.data[0].type = chartType2.options[chartType1.selectedIndex].value;
            chart1.render();
        });
    }


</script>
